body{font-size:18px;}
p{font-size:20px;}
#contents{display:none;}
header{box-shadow:0 -3px 14px 12px rgba(0, 0, 0, 0.2);margin-bottom:35px;height:100vh;padding-top:13vh !important;}
header.slate>.image>img{filter:blur(2px);transform:scale(1.2);}
header .header:not(.sub){font-size:2em !important;}
header .description{font-size:1.35em !important;}
header.slate>#iconDiv>.row{margin-left:auto;margin-right:auto;text-align:center;}
header.slate{position:relative;}
header.slate>#iconDiv>.row>.column>a>i{color:#fff;text-rendering:optimizelegibility;text-shadow:0 0 3px rgba(0,0,0,0.8);opacity:.75;text-align:center;}
header.slate>#iconDiv>.row>.column>a>i:hover{opacity:1;}
header.slate>#iconDiv{position:absolute;bottom:5vh;right:0;left:0;}
#avater{max-height:170px;border-radius:100em;display:block;margin-left:auto;margin-right:auto;margin-bottom:25px;box-shadow:0 4px 12px 0px rgba(0, 0, 0, 0.3);}
#avater:hover{animation:flip 1s ease;}
@keyframes flip{from{transform:rotateY(0deg);}
to{transform:rotateY(360deg);}
}
.pace-done #avater{animation:flip 1.25s ease;animation-delay:.8s;}
.pace-running header.slate>.image>img{opacity:0;}
.pace-done header.slate>.image>img{animation:fadeIn 3s ease;}
@media(max-height:400px){header>*:not(#avater):not(.image){display:none;}
}
h1.header{margin-left:10px;}
skills{display:flex;flex-wrap:wrap;margin:-0.875em -0.5em;margin-bottom:35px;}
skill{width:calc(100%/6 - 20px);box-shadow:0 5px 10px 1px rgba(167, 167, 167, 0.2);padding:1.5em;border-radius:1rem;margin-top:10px;margin-left:10px;margin-right:10px;transition:all .2s ease;height:calc(100%/6 - 20px);user-select:none;cursor:default;}
skill:hover{box-shadow:0 5px 10px 1px rgba(167, 167, 167, 0.4);transform:translateY(-1.25px);}
skill i{font-style:normal;line-height:1;-webkit-font-smoothing:antialiased;user-select:none;font-size:7em;text-align:center;width:100%;display:block;}
skill i.large.icon{text-align:center;font-size:7em !important;width:100% !important;height:100% !important;}
skills .content{font-family:'Jura', sans-serif;font-weight:700;font-size:1.4em;text-align:center;color:#5d5d5d;opacity:.8;margin-top:1em;}
i.icons>i{opacity:.2;}
i.icons>i.lock.icon{font-size:3em;opacity:1;}
@media(max-width:1200px){skill{width:calc(100%/4 - 20px);}
}
@media(max-width:1000px){skill{width:calc(100%/2 - 20px);}
skill:hover{box-shadow:0 5px 10px 1px rgba(167, 167, 167, 0.2);}
}
@media(max-width:390px){skill{width:calc(100% - 20px);}
}
a.ts.card{border:0px solid #e9e;box-shadow:0 5px 10px 1px rgba(167, 167, 167, 0.2);transition:all .1s ease;user-select:none;}
a.ts.card:hover{border:0px solid #e99 !important;box-shadow:0 5px 10px 1px rgba(167, 167, 167, 0.4) !important;transform:translateY(-1px) !important;user-select:none;}
a.ts.card>.content>.header+.description{margin-top:.4em;}
.cssload-thecube{width:75px;height:75px;margin:0 auto;margin-top:50vh;margin-bottom:50vh;position:relative;transform:rotateZ(45deg);-o-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);}
.cssload-thecube .cssload-cube{position:relative;transform:rotateZ(45deg);-o-transform:rotateZ(45deg);-ms-transform:rotateZ(45deg);-webkit-transform:rotateZ(45deg);-moz-transform:rotateZ(45deg);}
.cssload-thecube .cssload-cube{float:left;width:50%;height:50%;position:relative;transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);}
.cssload-thecube .cssload-cube:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgb(106,228,232);animation:cssload-fold-thecube 4.92s infinite linear both;-o-animation:cssload-fold-thecube 4.92s infinite linear both;-ms-animation:cssload-fold-thecube 4.92s infinite linear both;-webkit-animation:cssload-fold-thecube 4.92s infinite linear both;-moz-animation:cssload-fold-thecube 4.92s infinite linear both;transform-origin:100% 100%;-o-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;}
.cssload-thecube .cssload-c2{transform:scale(1.1) rotateZ(90deg);-o-transform:scale(1.1) rotateZ(90deg);-ms-transform:scale(1.1) rotateZ(90deg);-webkit-transform:scale(1.1) rotateZ(90deg);-moz-transform:scale(1.1) rotateZ(90deg);}
.cssload-thecube .cssload-c3{transform:scale(1.1) rotateZ(180deg);-o-transform:scale(1.1) rotateZ(180deg);-ms-transform:scale(1.1) rotateZ(180deg);-webkit-transform:scale(1.1) rotateZ(180deg);-moz-transform:scale(1.1) rotateZ(180deg);}
.cssload-thecube .cssload-c4{transform:scale(1.1) rotateZ(270deg);-o-transform:scale(1.1) rotateZ(270deg);-ms-transform:scale(1.1) rotateZ(270deg);-webkit-transform:scale(1.1) rotateZ(270deg);-moz-transform:scale(1.1) rotateZ(270deg);}
.cssload-thecube .cssload-c2:before{animation-delay:0.62s;-o-animation-delay:0.62s;-ms-animation-delay:0.62s;-webkit-animation-delay:0.62s;-moz-animation-delay:0.62s;}
.cssload-thecube .cssload-c3:before{animation-delay:1.23s;-o-animation-delay:1.23s;-ms-animation-delay:1.23s;-webkit-animation-delay:1.23s;-moz-animation-delay:1.23s;}
.cssload-thecube .cssload-c4:before{animation-delay:1.85s;-o-animation-delay:1.85s;-ms-animation-delay:1.85s;-webkit-animation-delay:1.85s;-moz-animation-delay:1.85s;}
@keyframes cssload-fold-thecube{0%, 10%{transform:perspective(140px) rotateX(-180deg);opacity:0;}
25%,
75%{transform:perspective(140px) rotateX(0deg);opacity:1;}
90%,
100%{transform:perspective(140px) rotateY(180deg);opacity:0;}
}
@-o-keyframes cssload-fold-thecube{0%, 10%{-o-transform:perspective(140px) rotateX(-180deg);opacity:0;}
25%,
75%{-o-transform:perspective(140px) rotateX(0deg);opacity:1;}
90%,
100%{-o-transform:perspective(140px) rotateY(180deg);opacity:0;}
}
@-ms-keyframes cssload-fold-thecube{0%, 10%{-ms-transform:perspective(140px) rotateX(-180deg);opacity:0;}
25%,
75%{-ms-transform:perspective(140px) rotateX(0deg);opacity:1;}
90%,
100%{-ms-transform:perspective(140px) rotateY(180deg);opacity:0;}
}
@-webkit-keyframes cssload-fold-thecube{0%, 10%{-webkit-transform:perspective(140px) rotateX(-180deg);opacity:0;}
25%,
75%{-webkit-transform:perspective(140px) rotateX(0deg);opacity:1;}
90%,
100%{-webkit-transform:perspective(140px) rotateY(180deg);opacity:0;}
}
@-moz-keyframes cssload-fold-thecube{0%, 10%{-moz-transform:perspective(140px) rotateX(-180deg);opacity:0;}
25%,
75%{-moz-transform:perspective(140px) rotateX(0deg);opacity:1;}
90%,
100%{-moz-transform:perspective(140px) rotateY(180deg);opacity:0;}
}